<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>    <key>method</key>    <string>app-store-connect</string>    <key>teamID</key>    <string>TY332Z4GS6</string>    <key>signingStyle</key>    <string>manual</string>    <key>provisioningProfiles</key>    <dict>        <key>com.freepartners.kilian</key>        <string>Distribution : com.freepartners.kilian</string>        <key>com.freepartners.kilian.ImageNotification</key>        <string>Distribution : com.freepartners.kilian.ImageNotif</string>    </dict></dict></plist>